{% extends 'base.html' %}

{% load static %}

{% block styles %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

    <div class="submit">

        <h1>Login</h1>

        {% for message in messages %}
            <h3 style="color: red">{{ message }}</h3>
        {% endfor %}
    </div>


        <form action="{% url 'login' %}" method="POST" class="form-3"> {% csrf_token %}

            <p class="clearfix">
                <label for="login">Username</label>
                <input type="text" name="username" id="login" placeholder="Username">
            </p>
            <p class="clearfix">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </p>
            <p class="clearfix">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">Remember me</label>
            </p>
            <p class="clearfix">
                <input type="submit" name="submit" value="Login">
            </p>

        </form>



{% endblock content %}