{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block content %}

    {% if user.is_authenticated %}
    <div class="games">

        <h1 class="list_games">List of Video Games and Genres</h1>
        {% for game in games %}
            <h4> Game Genre: {{ game.game_genre }}, Game name: {{ game.game_name }}</h4>
        {% endfor %}
    <button onclick="window.location.href = '{% url 'welcome' %}';" class="button">Back to home page</button>
    </div>
    {% else %}
            <script>
                window.location = {% url 'register' %}
            </script>
    {% endif %}


{% endblock %}