{% extends 'base.html' %}


{% block content %}


    <h1>Users</h1>

    <table border="1">

    <tr>
        <th>Description</th>
        <th>Delete?</th>
    </tr>

        {% for user in users %}
                <tr id="user-{{ user.id }}">
                    <td>
                        <a href="{% url 'user_form' user.id %}">{{ user.first_name }} {{ user.last_name }}</a><br>
                    </td>
                    <td>
                        <input type="image" src="https://icon-library.net/images/x-mark-icon/x-mark-icon-5.jpg" width="50" height="50" onclick="deleteUser({{ user.id }});">
                    </td>
                </tr>
        {% endfor %}

    </table>
    <a href="{% url 'register' %}">New Product</a>


     <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
    function deleteUser(id){
        $.ajax({
            url:  '{% url  'delete_user_ajax'%}',
            type:  'POST',
            dataType:  'json',
            data : {'id': id, csrfmiddlewaretoken: '{{ csrf_token }}' }, // We need csrfmiddlewaretoken since this is a post
            success: function  (response) {
                console.log(response);
                // Fade-out animation before removing it, kind of cool :)
               $("#user-" + id).fadeOut( "slow" );
               //$("#product-" + id).remove();
            }
        });
    }
    </script>

{% endblock %}