{% extends 'base.html' %}

{% load static %}

{% block styles %}
        <link rel="stylesheet" href="{% static 'css/Welcome.css' %}">
{% endblock %}

{% block javascript %}
    <link rel="script" href="{% static 'javascript/Welcome.js' %}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <div class="navbar">
            <a href="{% url 'welcome' %}">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Genres
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'games' %}">First Person Shooter</a>
                    <a href="{% url 'games' %}">Role Playing Game</a>
                    <a href="{% url 'games' %}">Real Time Strategy</a>
                </div>
            </div>
            <a href= "{% url 'login' %}" class="log_in">Log in</a>
            <a href="{% url 'register' %}" class="sign_up">Sign up</a>
            <a href="{% url 'logout' %}">Log Out</a>
        </div>
        <h1 class="welcome_message">You are now logged into Videogame website!</h1>

        <h2 class="welcome_name"> Welcome {{ user.first_name}} !</h2>

        <img src="{% static 'images/battlefieldv.jpg' %}" class="image_changer">

        <h3 class="feel_free"> Feel free to check out our catalog of video games and remember to sign in at the top!</h3>

    <div class="bottom_bar">
        <div class="dropdown2">
            <a href="{% url 'games' %}">view games</a>
            <a href="{% url 'delete' user.id %}">remove user</a>
            <a href="{% url 'update' user.id %}">update user</a>
        </div>
    </div>
    {% else %}
            <script>
                window.location = {% url 'register' %}
            </script>
    {% endif %}



{% endblock %}